<!DOCTYPE html>
<html>
    <head>
        <title>
            Главная страница
        </title>
        <meta charset="UTF-8">
        <link type="text/css" href="{{url_for('static', filename='main.css')}}" rel="stylesheet">
    </head>

    <body>
        <!--Шапка сайта-->
        <div id="div_header" class="div_header">
            <h1>Главная страница</h1>
        </div>

        <!--Тело сайта-->
        <div id="div_body" class="div_body">
            <p>
                Этот сайт был создан для проведения нагрузочного тестирования в целях обучения!
                Вскоре будет написана документация, процесс реализации этого проекта и итоговые результаты (ссылку на профиль вы найдете ниже).
            </p>

            <form method="post">
                <li>
                <label for="author" id="label_author">Автор</label>
                <input id="author" name="author" type="text"
                placeholder="Введите Фамилию и И.О. автора"
                maxlength="30">
                </li>

                <li>
                <label for="title" id="label_title">Название</label>
                <input id="title" type="text" name="title"
                placeholder="Введите название книги" 
                maxlength="40">
                </li>

                <li>
                <label for="isbn" id="label_isbn">ISBN</label>
                <input id="isbn" type="text" name="isbn"
                placeholder="Введите ISBN" 
                maxlength="13">
                </li>

                <input type="submit" value="Готово!">
                <input type="reset" value="Очистить!">
            </form>
        </div>

        <!--Подвал сайта-->
        <div id="div_footer" class="div_footer">
            <li>
                <a href="https://github.com/Ulukbek-Toychuev">Мой профиль в GitHub.</a>
            </li>

            <li>    
                <a href="mailto:t.ulukbek01@gmail.com">Моя почта.</a>
            </li>
        </div>
    </body>
</html>